* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.spk-lights__group-item--max {
  background-color: green;
}

.spk-lights__group-item--min {
  background-color: red;
}

.spk-lights__group-item--gray {
  background-color: gray;
}

.spk-lights__group-item--middle {
  background-color: yellow;
}


.spk-lights__group-item--middle,
.spk-lights__group-item--gray,
.spk-lights__group-item--min,
.spk-lights__group-item--max
 {
  padding: 5px;
}