* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.spk-lights__group-item--max {
  background-color: #00c946;
}

.spk-lights__group-item--min {
  background-color: #e9392c;
}

.spk-lights__group-item--gray {
  background-color: gray;
}

.spk-lights__group-item--middle {
  background-color: #fbbf27;
}

.spk-lights__group-item--middle,
.spk-lights__group-item--gray,
.spk-lights__group-item--min,
.spk-lights__group-item--max {
  padding: 5px 10px;
}
